
<div class='row'>
    <div class='col' colspan="2"><span class="eg_specs_head">Weight</span></div>
</div>

<div class='row'>
    <div class='col'><span class="eg_specs m">Driver:</span></div>
    <div class='col'><span class="m"><input type="text" class="m" custom-unit="kg" size="4"
                                            name="m_driver[driver_weight]" id="driver_weight"
                                            value="80"/>&nbsp;kg</span></div>
</div>

<div class='row'>
    <div class='col'><span class="eg_specs m">Motorcycle:</span></div>
    <div class='col'><span class="m"><input type="text" class="m" size="4" custom-unit="kg" name="m_gewicht"
                                            id="gewicht" value="170"/>&nbsp;kg</span></div>
</div>

<div class='row'>
    <div class='col' colspan="2"><span class="eg_specs_head">Performance</span></div>
</div>

<div class='row'>
    <div class='col'><span class="eg_specs">Power(hp@rpm):</span></div>
    <div class='col'><input type="text" size="9" name="m_max_hp_rpm" id="max_hp_rpm" value="47.7@7200"/></div>
</div>

<div class='row'>
    <div class='col'><span class="eg_specs m">Torque:</span></div>
    <div class='col'><span class="m"><input type="text" class="m" custom-unit="nm" size="9" name="m_max_nm_rpm"
                                            id="max_nm_rpm" value="46.7@5000"/>&nbsp;nm@rpm</span></div>
</div>

<div class='row'>
    <div class='col'><span class="eg_specs i">Torque:</span></div>
    <div class='col'><span class="i"><input type="text" class="i" custom-unit="lbft" size="9" name="i_max_nm_rpm"
                                            id="max_nm_rpm" value="34.42@5000"/>&nbsp;lbft@rpm</span></div>
</div>

<div class='row'>
    <div class='col' colspan="2"><span class="eg_specs_head">Primary transmission</span></div>
</div>

<div class='row'>
    <div class='col'><span class="eg_specs">Crank sprocket:</span></div>
    <div class='col'><input type="text" size="4" name="m_engine[engine_sprocket_t]" id="engine_sprocket_t" value="10"/>
    </div>
</div>

<div class='row'>
    <div class='col'><span class="eg_specs">Clutch sprocket:</span></div>
    <div class='col'><input type="text" size="4" name="m_transmission[input_sprocket_t]" id="input_sprocket_t"
                            value="20"/></div>
</div>

<div class='row'>
    <div class='col' colspan="2"><span class="eg_specs_head">Secundary transmission</span></div>
</div>

<div class='row'>
    <div class='col'><span class="eg_specs">Front sprocket:</span></div>
    <div class='col'><input type="text" size="4" name="m_final_t1" id="final_t1" value="19"/></div>
</div>

<div class='row'>
    <div class='col'><span class="eg_specs">Rear sprocket:</span></div>
    <div class='col'><input type="text" size="4" name="m_final_t2" id="final_t2" value="47"/></div>
</div>

<div class='row'>
    <div class='col'><span class="eg_specs">Rear tyre:</span></div>
    <div class='col'>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">mm</th>
                <th scope="col">/</th>
                <th scope="col">R</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><input type="text" size="4" name="m_chassis[bandmaat_aangedr_wiel]" id="bandmaat_aangedr_wiel"
                           value="101.6"/></td>
                <td><input type="text" size="4" name="m_chassis[band_aspect_ratio]" id="band_aspect_ratio" value="100"/>
                </td>
                <td><input type="text" size="3" name="m_chassis[wielmaat_aangedr_wiel]" id="wielmaat_aangedr_wiel"
                           value="18"/></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class='row'>
    <div class='col' colspan="2"><span class="eg_specs_head">Aerodynamic data</span></div>
</div>

<div class='row'>
    <div class='col'><span class="eg_specs">Cx-value:</span></div>
    <div class='col'><input type="text" size="4" name="m_cx" id="cx" value="0.5"/></div>
</div>

<div class='row'>
    <div class='col'><span class="eg_specs m">Frontal area:</span></div>
    <div class='col'><span class="m"><input type="text" class="m" size="4" custom-unit="m2"
                                            name="m_chassis[frontal_area]" id="frontal_area"
                                            value="0.4944"/>&nbsp;m2</span></div>
</div>
